
img {
  object-fit: cover;
  width: 350px;
  height: 300px;
  margin-bottom: 0.5rem;
}

li {
  margin: 5px;
}

.title {
  font-family: "DM Serif Display", serif;
  font-weight: lighter;
  margin-left: 10px;
  text-transform: capitalize;
}

.link {
  text-decoration: none;
  color: #000;
}

.weight {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.card {
  max-width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0.5rem;
  border-radius: 0.3rem;
  padding: 1rem;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.158);
  transition: all ease 0.5s;
  cursor: pointer;
}

.headerCard {
  display: flex;
  align-items: center;
}
.card:hover {
  transform: translate(0px, -5px);
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.459);
}

.tempsBox {
  align-items: flex-start;
}

.content {
  padding: 1rem 0;
  font-family: "Poppins", sans-serif;
}

.fav,
.favActive {
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  background-image: url("../assets/favIcon.svg");
}

@supports (filter: invert(100%)) {
  .favActive {
    filter: invert(20%) sepia(100%) saturate(4000%);
  }
}
