.container {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgBox {
  object-fit: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.534);
  width: 100vw;
  height: 1000px;
}

.imgBox > img {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 1000px;
}

.imgBox > h1 {
  text-transform: capitalize;
  color: #fff;
  font-size: 100px;
  margin: 500px 0;
  text-align: center;
  cursor: pointer;
}

.infoBox {
  width: 80vw;
  height: 200px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 30px 41px 8px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-around;
  position: relative;
}

.infoBox > div {
  position: relative;
  margin: auto 0;
}

.summary {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.btnDelete {
  margin: auto 0;
  background-image: url("../assets/delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(255, 255, 255, 0);
  background-color: #fff;
  border: none;
  cursor: pointer;

  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .btnDelete{
    margin: 0 auto;
  }
  .imgBox {
    object-fit: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.534);
    width: 100vw;
    height: 400px;
  }

  .imgBox > img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 400px;
  }

  .imgBox > h1 {
    font-size: 50px;
    margin: 150px 0;
  }
  .infoBox {
    font-size: 14px;
  }
  .summary {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  .infoBox {
    flex-direction: column;
    height: 400px;
    justify-content: center;
    text-align: center;
    box-shadow: none;
  }
  .summary {
    font-size: 14px;
  }
}
