

.prev,
.next {
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(255, 255, 255, 0);
  background-color: #fff;
  border: none;
  cursor: pointer;
  text-align: center;
  margin: auto 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
}

.prev {
  background-image: url("../assets/prev.svg");
}
.next {
  background-image: url("../assets/next.svg");
}




  .pagination{
    margin: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .pagination > span {
    font-size: 1.5rem;
  }



